<%- include('./layout/header') %> 
<%- include('./partials/navbar') %>


    <div class="contact-container">
        <h1>Contact Us</h1>
        <p>Need to get in touch with us?</p>

        <% if (errorMessage) { %>
            <div class="error-message"><%= errorMessage %></div>
        <% } %>
        <% if (successMessage) { %>
            <div class="success-message"><%= successMessage %></div>
        <% } %>

        <form action="/contact" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" value="<%= user?.name || '' %>" aria-label="Name" aria-required="true" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" value="<%= user?.email || '' %>" aria-label="Email" aria-required="true" required>

            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Enter your message" aria-required="true" required></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>



<%- include('./layout/footer') %>













